body, body>* {
    font-family: serif;
}
code, code>* {
    font-family: monospace, sans-serif !important;
}
@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}
blink {
    animation: blink 1s infinite step-start;
}